<div class='row'>
  <div class='col-auto'>
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div>

  {{! loop through blogs }}
  {{#if blogs.length}}
    <div class='blog-list'>
      <h3>My Blog Posts:</h3>

      {{#each blogs as |blog|}}
        <div class='row mb-2'>
          <div class='col-md-8'>
            <h4><a href='/dashboard/blog/{{blog.id}}'>{{blog.title}}</a></h4>
            <p>Created on: {{format_date blog.date_created}}</p>
          </div>

        </div>
      {{/each}}
    </div>
  {{/if}}
</div>

{{! div with buttons }}
<div class='col-md-4'>
  <a href='/dashboard/blog' class='btn btn-sm btn-danger'>Create New Blog Post</a>
</div>

<script src='./js/dashboard.js'></script>