<div class='homepage-blogs'>
  <h2>Blog Posts</h2>
  {{#each blogs as |blog|}}
    <div class='blog'>
      <h3>
        <a href='/blog/{{blog.id}}'>{{blog.title}}</a>
      </h3>
      <p class='blog-details'>Created by
        {{blog.user.name}}
        on
        {{format_date blog.date_created}}</p>
    </div>
  {{/each}}
</div>