:root {
  --main-bg-color: #666;
  /* --main-bg-color: #4297a0; */
  --secondary-bg-color: #e57f84;
  --main-text-color: #2f5061;
  --light-text-color: #f4eae6;
}

body {
  background-color: var(--main-bg-color);
  color: var(--light-text-color);
}

header,
.blog {
  border-bottom: 1px solid #ccc;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  border-right: 1px solid #fff;
  display: inline-block;
  padding: 5px;
}

nav ul li:last-child {
  border-right: 0px solid #fff;
}

main {
  margin: 20px 0;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}

.blog-content {
  white-space: pre-wrap;
}
