.navbar-brand a {
  color: #f0c !important;
  font-weight: bold;
  font-size: 169%;
}

.btn-nav,
.nav-link {
  color: #fff !important;
}
.btn-social {
  background-color: #f0c;
}

.text-copyright {
  background-color: #000;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 158px;
  background-color: #efefef;
}

a {
  color: #f0c;
}

a:visited {
  color: rgb(209, 0, 209);
}

main {
  margin: 20px 0;
}

h2 {
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

h3 {
  font-size: 150% !important;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 158px; /* Set the fixed height of the footer here */
}

footer li a.btn {
  color: #fff;
}

footer li {
  list-style: none;
}

.homepage-blogs .blog {
  padding: 10px 0;
  position: relative;
  padding-left: 80px;
}

.homepage-blogs .blog:before {
  display: inline-block;
  position: absolute;

  width: 60px;
  height: 60px;
  left: 0px;
  top: 10px;

  line-height: 60px;
  text-align: center;
  color: #fff;
  content: ' ';
  background-image: url('/images/coffee-solid.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 69%;
  background-color: #ccc;
  filter: invert(1);
}

.blog-content {
  font-size: 110%;
  line-height: 160%;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.comment {
  padding: 5px 0px;
  border-top: 1px solid #ccc;
}

.comment-content {
  font-size: 110%;
  padding: 0;
  margin: 0;
}

.comment-details {
  font-size: 80%;
  padding: 0;
  font-weight: bold;
}

.btn-primary {
  background-color: #f0c;
  color: #fff !important;
  border: 0px;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #f0c; /* Black background color */
  color: #edf6f9; /* White text color */
  font-weight: 600;
  text-align: center; /* Centered text */
  border-radius: 6px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 40%; /* Center the snackbar */
  top: 130px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 130px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 130px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    top: 130px;
    opacity: 1;
  }
  to {
    top: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    top: 130px;
    opacity: 1;
  }
  to {
    top: 0;
    opacity: 0;
  }
}
